<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="navbar">
		<div class="container">
			<span class="navbar-brand" th:text="${@environment.getProperty('app.name')}"></span>

			<div class="collapse navbar-collapse" id="navbarSupportedContent" sec:authorize="isAuthenticated()">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item" sec:authorize="hasAuthority('smo')">
						<a class="nav-link"
							th:classappend="${#httpServletRequest.servletPath.contains('/appl')} ? 'active' : ''"
							href="/appl">Поиск заявлений</a>
					</li>
					<li class="nav-item" sec:authorize="hasAnyAuthority('smo','tfoms')">
						<a class="nav-link"
							th:classappend="${#httpServletRequest.servletPath.contains('/policy')} ? 'active' : ''"
							href="/policy">Поиск информации о полисах</a>
					</li>
					<li class="nav-item" sec:authorize="hasAnyAuthority('smo','tfoms')">
						<a class="nav-link"
							th:classappend="${#httpServletRequest.servletPath} == '/ancessor' ? 'active' : ''"
							href="/ancessor">Поиск ОИП актуальной персоны-продолжателя</a></li>
				</ul>
			</div>
			<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
				<button type="submit" class="btn btn-primary">Выход</button>
			</form>
			<span th:text="'v' + ${@environment.getProperty('app.version')}" sec:authorize="isAnonymous()"></span>
		</div>
	</nav>
</body>

</html>